// Max value of opcode is 20
int {{ alu_name }}({{arg_list|join(',')}}, int opcode_hole_local, int immediate_operand_hole_local, int mux1_ctrl_hole_local, int mux2_ctrl_hole_local, int mux3_ctrl_hole_local) {
  int opcode = opcode_hole_local;
  int immediate_operand = immediate_operand_hole_local;

  int x = {{ mux1 }}({{potential_operands|join(',')}}, mux1_ctrl_hole_local);
  int y = {{ mux2 }}({{potential_operands|join(',')}}, mux2_ctrl_hole_local);
  int z = {{ mux3 }}({{potential_operands|join(',')}}, mux3_ctrl_hole_local);

  if (opcode == 0) {
    return immediate_operand;
  } else if (opcode == 1) {
    return x + y;
  } else if (opcode == 2) {
    return x + immediate_operand;
  } else if (opcode == 3) {
    return x - y;
  } else if (opcode == 4) {
    return x - immediate_operand;
  } else if (opcode == 5) {
    return immediate_operand - x;
  } else if (opcode == 6) {
    return x != y;
  } else if (opcode == 7) {
    return x != immediate_operand;
  } else if (opcode == 8) {
    return x == y;
  } else if (opcode == 9) {
    return x == immediate_operand;
  } else if (opcode == 10) {
    return x >= y;
  } else if (opcode == 11) {
    return x >= immediate_operand;
  } else if (opcode == 12) {
    return x < y;
  } else if (opcode == 13) {
    return x < immediate_operand;
  } else if (opcode == 14) {
    return ( x != 0 ) ? (y) : (z);
  } else if (opcode == 15) {
    return ( x != 0 ) ? (y) : immediate_operand;
  } else if (opcode == 16) {
    return (x != 0) || (y != 0);
  } else if (opcode == 17) {
    return (x != 0) || (immediate_operand != 0);
  } else if (opcode == 18) {
    return (x != 0) && (y != 0);
  } else if (opcode == 19) {
    return (x != 0) && (immediate_operand != 0);
  } else {
    return ! (x != 0);
  }
}
