blackbox stateful_alu {{ alu_name }} {
  reg: {{ reg_expr }}

  // For optional values check whether the designated expr is not None
  {% if selector_binding_expr is not None %}
  selector_binding: {{ selector_binding_expr }}
  {% endif %}

  {% if initial_register_lo_value_expr is not None %}
  initial_register_lo_value: {{ initial_register_lo_value_expr }}
  {% endif %}

  {% if initial_register_hi_value_expr is not None %}
  initial_register_hi_value: {{ initial_register_hi_value_expr }}
  {% endif %}

  {% if condition_hi_expr is not None %}
  condition_hi: {{ condition_hi_expr }}
  {% endif %}

  {% if condition_lo_expr is not None %}
  condition_lo: {{ condition_lo_expr }}
  {% endif %}

  {% if update_lo_1_predicate_expr is not None %}
  update_lo_1_predicate: {{ update_lo_1_predicate_expr }}
  {% endif %}

  {% if update_lo_1_value_expr is not None %}
  update_lo_1_value: {{ update_lo_1_value_expr }}
  {% endif %}

  {% if update_lo_2_predicate_expr is not None %}
  update_lo_2_predicate: {{ update_lo_2_predicate_expr }}
  {% endif %}

  {% if update_lo_2_value_expr is not None %}
  update_lo_2_value: {{ update_lo_2_value_expr }}
  {% endif %}

  {% if update_hi_1_predicate_expr is not None %}
  update_hi_1_predicate: {{ update_hi_1_predicate_expr }}
  {% endif %}

  {% if update_hi_1_value_expr is not None %}
  update_hi_1_value: {{ update_hi_1_value_expr }}
  {% endif %}

  {% if update_hi_2_predicate_expr is not None %}
  update_hi_2_predicate: {{ update_hi_2_predicate_expr }}
  {% endif %}

  {% if update_hi_2_value_expr is not None %}
  update_hi_2_value: {{ update_hi_2_value_expr }}
  {% endif %}

  {% if output_predicate_expr is not None %}
  output_predicate: {{ output_predicate_expr }}
  {% endif %}

  {% if output_value_expr is not None %}
  output_value: {{ output_value_expr }}
  {% endif %}

  {% if output_dst_expr is not None %}
  output_dst: {{ output_dst_expr }}
  {% endif %}

  {% if math_unit_input_expr is not None %}
  math_unit_input: {{ math_unit_input_expr }}
  {% endif %}

  {% if math_unit_output_scale_expr is not None %}
  math_unit_output_scale: {{ math_unit_output_scale_expr }}
  {% endif %}

  {% if math_unit_exponent_shift_expr is not None %}
  math_unit_exponent_shift: {{ math_unit_exponent_shift_expr }}
  {% endif %}

  {% if math_unit_exponent_invert_expr is not None %}
  math_unit_exponent_invert: {{ math_unit_exponent_invert_expr }}
  {% endif %}

  {% if math_unit_lookup_table_expr is not None %}
  math_unit_lookup_table: {{ math_unit_lookup_table_expr }}
  {% endif %}

  {% if reduction_or_group_expr is not None %}
  reduction_or_group: {{ reduction_or_group_expr }}
  {% endif %}

  {% if stateful_logging_mode_expr is not None %}
  stateful_logging_mode: {{ stateful_logging_mode_expr }}
  {% endif %}
}
