__pycache__
*.pyc
*.pickle
*.success
*.errors
*.sk
!example_specs/*.sk
*.class
*.java
*.interp
*.tokens
*Lexer.py
*Parser.py
*Visitor.py
*Listener.py
*.egg-info
*.smt2
*.dag
*_output.txt
.vscode/

!tests/data/*.sk
