__pycache__
*.pyc
*.pickle
*.success
*.errors
*.sk
!example_specs/*.sk
*.class
*.java
*.interp
*.tokens
aluLexer.py
aluParser.py
aluVisitor.py
aluListener.py
*.egg-info
*.smt2
*.dag
*_output.txt
.vscode/
*.p4

!tests/data/*.sk
