// Operand muxes for each ALU in each stage
// Total of {{ num_pipeline_stages }} * {{ num_alus_per_stage }} * 3 {{num_phv_containers}}-to-1 muxes
// The 3 is for two stateless operands and one stateful operand.

{{ operand_mux_definitions }}

// Output mux for each PHV container
// Allows the container to be written from either its own stateless ALU or any stateful ALU

{{ output_mux_definitions }}

// Definition for ALUs

{{ alu_definitions }}
