int {{ alu_name }}({{arg_list|join(',')}}) {
  int opcode = {{opcode_hole}};
  int immediate_operand = {{immediate_operand_hole}};

  int x = {{ mux1 }}({{potential_operands|join(',')}});
  int y = {{ mux2 }}({{potential_operands|join(',')}});

  if (opcode == 0) {
    return {| x + y | x + immediate_operand | immediate_operand |};
  } else {
    return {| x - y | immediate_operand - y | x - immediate_operand |};
  }
}
